body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100;Green+Flat+%233 */
  background: #006e2e; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #006e2e 0%,
    #006e2e 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #006e2e 0%,
    #006e2e 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #006e2e 0%,
    #006e2e 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.chips {
  display: flex;
  justify-content: space-evenly;
}

.chip {
  border: black 1px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
  color: white;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
}

.App {
  text-align: center;
}

.hand {
  display: flex;
  justify-content: center;
}

.card img {
  height: 200px;
  width: auto;
}

.hand {
  height: 200px;
}
